<html>
<head>
<% include ../partials/head %>
</head>
<body>
<div class="container-fluid">
<h1 style="text-align:center">Welcome Admin</h1>
<h2>All Posts</h2>
<hr />
<% for (var key in posts) { %>

<div class="row">
<h3 class="col-lg-2"><%= posts[key]._id %></h3>
<br>
<p class="col-lg-6"><%= posts[key].post %></p>
<div>Posted By:<h5><i><u><b><%= posts[key].username %></b></u></i></h5></div>


<br>
<hr width="inherit" color="black"></hr>
<form action="deletepost" method="post" class="col-lg-4" style="content-align:center">
<input type="hidden" value="<%= posts[key]._id %>" name="post">
<div class="form-group">
<button type="sumbit" class="btn btn-info" >Delete Post</button>
</div>
</form>
<hr width="80%" ></hr>
</div>

<% } %>
</div>

</body>
</html>
