
<table style="width:100%;padding:0;background-color:#343a40;overflow:hidden;bottom:0;left:0;position:fixed" >
<tr>
<td colspan="4"><h3 style="color:white;text-align:center">Back to top<h3></td>
</tr>
<tr>
<td>
<a href="/about"style="color:white;text-align:center;font-size:30px">About Us</a>
</td>
<td>
<a href="/faq"style="color:white;text-align:center;font-size:30px">Faq</a>
</td>
<td>
<a href="/terms"style="color:white;text-align:center;font-size:30px">Terms and Conditions</a>
</td>
<td title="Contact no:8217929392,8901236711" style="color:white;font-size:30px"><h3>Contact Us</h3></td>
</tr>

</table>


