
<div id="id02" class="model">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="model-content" action="/login" method="post">
    <div class="cont">
      <h1>Login</h1>
     
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>
      
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
		<br>
      
      <div class="clearfix">
 <input type="submit" class="button signupbtn" value="Login">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="button cancelbtn">Cancel</button>
       
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == model) {
    modal.style.display = "none";
  }
}
</script>
