<html>
<head>
<% include partials/head %>
<title>About Us</title>
<style>
h1
{

text-align:center;
font-weight:bold;
font-style:cursive;

}
.s
{
width:100%;
height:500px;

background-size:10%;
}
.h
{
width:100%;
background-image:url('abcde.jpg');
background-attachment:fixed;
height:500px;
background-size:100%;
}
.why
{
color:#331a00;
font-size:20px;
font-family:fantisy;
font-style:italic;
margin-right:20px;
}
</style>
</head>
<body  >
<div class="h" >
<h1 style="color:331a00">Why WitSpace</h1>
<p class="why">
       WitSpace’s mission is to share valuable experiences and grow the knowledge.
      A vast amount of the knowledge that would be valuable to many people is currently only available to a few
 — either locked in people’s heads, or only accessible to select groups. We want to connect the people who have knowledge to the people who need it, to bring together people with different perspectives so they can understand each other better, and to empower everyone to share their knowledge and experience for the benefit of the rest of the world.
</p>
<p class="why">
WitSpace has content you will feel good about having read. WitSpace helps you understand why the world works the way it does, why people behave the way they do, and what we can all do to make the world better. WitSpace provides a personalized feed of insightful answers to questions you hadn’t realized you should ask.</p>
</div>
<div class="s" style="background-size:100%">
<h1 >
Main Focus
</h1>
<p class="why">
Interviews are part of most hiring processes, but how important are they? Interviews are arguably the most subjective part of any selection system. As humans, we have to fight the tendency to judge people according to whether we simply like them or not, as opposed to making sure that the candidates we’re interviewing are being graded on job-relevant characteristics. For this reason, we suggest that interviews come later on in the process, after objective components of the process.
</p>
<img src="abcd.jpg" style="width:40%;padding:10px;height:50%;margin-left:30px"></img>
<img src="ds.jpg" style="width:40%;padding:10px;height:50%;margin-left:30px"></img>
</div>
<div class="h">
<h1 id="h1">Terms and conditions</h1>
<dl class="why">
<dt>Age Eligibility</dt>
<dd>You must be at least 13 years old to access or use the Network or Services, including without limitation to complete a Witspace account registration.  If you are under 13 years old, you may not, under any circumstances or for any reason, access or use the Services or Network in any manner, and may not provide any personal information to or on the Services or Network (including, for example, a name, address, telephone number or email address).</dd>
<dt>
 User Obligations
</dt>
<dd>
To access some of the public Network features you will need to register for an account as an individual and consent to these Public Network Terms. If you do not consent to these Public Network Terms, WitSpace reserves the right to refuse, suspend or terminate your access to the public Network.</dd>
<dt>Content Permissions, Restrictions, and Creative Commons Licensing</dt>

<dd>
All materials displayed or performed on the public Network, including but not limited to text, graphics, logos, tools, photographs, images, illustrations, software or source code, audio and video, and animations (collectively "Network Content") (other than Network Content posted by individual "Subscriber Content") are the property of Witspace and/or third parties and are protected by United States and international copyright laws ("WitSpace Content").
</dd>
</dl>
</div>

</body>
</html>
