<html>
<head>
<% include partials/head %>
</head>
<style>
body
{
background-size:100%;
background-repeat:no-repeat;
}
.center
{
left:50%;
top:45%;
position:fixed;
transform:translate(-50%,-40%);
box-sizing:border-box;
height:300px;
width:500px;

}

</style>
<body background="io.jpg">
<div class="center"> 
<h2 style="text-align:center">Verify Email</h2>
<p style="text-align:center">Open your mail and paste the token to verify your account</p>
<form action="verify" method="post">
<input type="text" name="secret" class="form-control">
<input type="submit" class="btn btn-primary" value="Verify"style="width:60%">
</form>
</div>
</body>
</html>
